nav.NavBar
  .NavBar-container
    ul.Nav
      li.Nav-item
        a.Link.Nav-link(
          href='/'
          class=slug === '/' ? 'Nav-link--isActive' : ''
        ) Home
      li.Nav-item
        a.Link.Nav-link(
          href='/developer'
          class=slug === 'developer' ? 'Nav-link--isActive' : ''
        ) Dev
    ul.Social
      li.Social-item
        a.Link.Social-link(
          href='https://github.com/danhead'
        )
          svg.Icon.Social-icon(
            viewBox="0 0 24 24"
            aria-labelledby='social-github'
          )
            use(href='#github')
          span.Social-label#social-github github
      li.Social-item
        a.Link.Social-link(
          href='https://twitter.com/danhead'
        )
          svg.Icon.Social-icon(
            viewBox="0 0 24 24"
            aria-labelledby='social-twitter'
          )
            use(href='#twitter')
          span.Social-label#social-twitter Twitter
      li.Social-item
        a.Link.Social-link(
          href='https://instagram.com/suburbanme'
        )
          svg.Icon.Social-icon(
            viewBox="0 0 24 24"
            aria-labelledby='social-instagram'
          )
            use(href='#instagram')
          span.Social-label#social-instagram Instagram
